body{
    font-family: Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6px;
    box-sizing:border-box;
    background-color:#282c34;
    color:rgb(29,27,27,);
}
header{
    background-color:greenyellow;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav ul li{
    display: inline;
    margin:  0 15px;
}
nav ul li a{
    color: purple;
    text-decoration: none;
}
nav ul li a:hover{
    color: greenyellow;
}
section{
    margin: 20px auto;
    padding: 0px 20px;
    max-width: 800px;
}
#project,#about,#contact-me{
    max-width: 800px;
    margin: 20px auto;
}
.project{
    background-color:greenyellow;
    margine:20px outo;
    padding:20px;
    border-radius:10px;
    box-shadow 0 4px 6px rgba(0,0,0,0.1)
    transition:transform 0.3s eas-in-out;
    display:flex;
    text direction:colum;
    align-item:center;
}
.project:hover{
    transform:translate(-5px)
}
form:{
    display:flex;
    flex-direction:colum;
    gap:15px;
    margine:0 out;
}
.section h2{
    color: #333;
    margin-bottom: 10px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
